nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 15px;

}
nav li a{
    text-decoration: none;
    color: #000;
}
nav li a:hover{
    color: #3c1313;
    background-color: #887777;
}